.BookPublishPage {
    background-color: white;
    padding: 25px 40px;
    .blue_label {
        color: var(--accent);
        font-size: 18px;
        text-align: left;
        margin-top: 15px;
        margin-bottom: 15px;
        font-weight: bold;
    }
    .page_title {
        font-weight: bold;
        font-size: 24px;
        text-align: left;
    }
    .save_btn {
        background-color: var(--accent);
        color: white;
        padding: 6px 0px;
        border-radius: 5px;
        cursor: pointer;
    }
}
