.BookInfo {
    margin: 16px 0px;

    .page_title {
        font-weight: bold;
        font-size: 24px;
        text-align: left;
    }
    .label {
        text-align: left;
        font-size: 15px;
        margin-top: 10px;
        span {
            margin-left: 5px;
            font-weight: bold;
            font-size: 12px;
            color: var(--accent);
        }
    }

    .textarea {
        background-color: #ffffff;
        min-height: 70px;
        width: 100%;
        color: black;
        border: 0;
        margin-top: 5px;
        margin-bottom: 15px;
        border-radius: 5px;
        padding: 4px 10px;
        border: solid lightgray 1px;
    }
    .select_input {
        background-color: #ffffff;
        height: 35px;
        width: 100%;
        color: black;
        border: 0;
        margin-top: 5px;
        margin-bottom: 15px;
        border-radius: 5px;
        padding: 0px 10px;
        border: solid lightgray 1px;
    }
    .input {
        background-color: #ffffff;
        height: 35px;
        width: 100%;
        color: black;
        border: 0;
        margin-top: 5px;
        margin-bottom: 15px;
        border-radius: 5px;
        padding: 0px 10px;
        border: solid lightgray 1px;
    }
}
