.PDFInfo {
    margin: 16px 0px;

    .page_title {
        font-weight: bold;
        font-size: 24px;
        text-align: left;
    }

    .input {
        background-color: #ffffff;
        height: 35px;
        width: 100%;
        color: black;
        border: 0;
        margin-top: 5px;
        margin-bottom: 15px;
        border-radius: 5px;
        padding: 0px 10px;
        border: solid lightgray 1px;
    }

    .blue_label {
        color: var(--accent);
    }
}
